$success: #1ddd85;
$error: #f83b3b;
$warning: #ffc53d;
$serious: #ff6e3d;
$info: #1a91f9;
$shadowColor: #1a91f94d;
$buttonNormalHoverColor: #1a91f91a;

$primary1: #e6f7ff;
$primary2: #bde9ff;
$primary3: #94d8ff;
$primary4: #6bc4ff;
$primary5: #42adff;
$primary6: #1a91f9;
$primary7: #0b6fd4;
$primary8: #0051ad;
$primary9: #003b87;
$primary10: #002761;

$common-title: #3a3b3c;
$common-content: #6a6b6c;
$common-close-button: #aaabac;
$commont-close-button-hover: rgb(102, 103, 103);
$border-normal: #d9d9d9;
