@import '@/styles/var.scss';
@import '@/styles/color.scss';

$wave-animate: shadowWave 1s $wave-effect;
$button-color: #fff;
$button-normal-bg: #fff;
$button-normal-border: #e6e7e8;
$button-normal-color: #2a2b2c;
$button-disabled-bg: #c6c7c8;
$button-disabled-color: #fff;
$button-disabled-hollow-bg: #f6f7f8;
$button-disabled-hollow-border: #e6e7e8;
$button-disabled-hollow-color: #8a8b8c;
$button-loading: #fff;
$button-loading-hollow: #2a2b2c;

.$(prefix)-button {
  border-radius: 2px;
  outline: none;
  line-height: 1;
  cursor: pointer;
  font-size: 13px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  // theme
  &__normal {
    border: 1px solid $button-normal-bg;
    border: 1px solid var(--qui-button-normal-border);
    background-color: $button-normal-bg;
    background-color: var(--qui-button-normal-bg);
    color: $button-normal-color;
    color: var(--qui-button-normal-color);

    &:hover {
      border-color: $primary6;
      color: $primary6;
      border-color: var(--qui-primary6);
      color: var(--qui-primary6);
      z-index: 2;
      background-color: $buttonNormalHoverColor;
      background-color: var(--buttonNormalHoverColor);
    }

    &:focus {
      border-color: $primary6;
      color: $primary6;
      border-color: var(--qui-primary6);
      color: var(--qui-primary6);
      z-index: 2;
    }

    &:active {
      border-color: $primary8;
      color: $primary8;
      border-color: var(--qui-primary8);
      color: var(--qui-primary8);
      z-index: 2;
    }
  }

  &__primary {
    border: 1px solid transparent;
    background-color: $primary6;
    background-color: var(--qui-primary6);
    color: $button-color;
    color: var(--qui-button-color);
    border-radius: 2px;

    &:hover {
      opacity: 0.6;
      z-index: 2;
    }

    &:focus {
      opacity: 0.6;
      z-index: 2;
    }

    &:active {
      opacity: 1;
      background-color: $primary8;
      background-color: var(--qui-primary8);
      z-index: 2;
    }
  }

  &__success {
    border: 1px solid transparent;
    background-color: $success;
    color: $button-color;
    color: var(--qui-button-color);
    border-radius: 2px;

    &:hover {
      opacity: 0.6;
      z-index: 2;
    }

    &:focus {
      opacity: 0.6;
      z-index: 2;
    }

    &:active {
      opacity: 1;
      background-color: color($success shade(20%));
      z-index: 2;
    }
  }

  &__warning {
    border: 1px solid transparent;
    background-color: $warning;
    color: $button-color;
    color: var(--qui-button-color);
    border-radius: 2px;

    &:hover {
      opacity: 0.6;
      z-index: 2;
    }

    &:focus {
      opacity: 0.6;
      z-index: 2;
    }

    &:active {
      background-color: color($warning shade(20%));
      opacity: 1;
      z-index: 2;
    }
  }

  &__danger {
    border: 1px solid transparent;
    background-color: $error;
    color: $button-color;
    color: var(--qui-button-color);
    border-radius: 2px;

    &:hover {
      opacity: 0.6;
      z-index: 2;
    }

    &:focus {
      opacity: 0.6;
      z-index: 2;
    }

    &:active {
      background-color: color($error shade(20%));
      opacity: 1;
      z-index: 2;
    }
  }

  &__dashed {
    border: 1px dashed $button-normal-bg;
    border: 1px dashed var(--qui-button-normal-border);
    background-color: $button-normal-bg;
    background-color: var(--qui-button-normal-bg);
    color: $button-normal-color;
    color: var(--qui-button-normal-color);

    &:hover {
      border-color: $primary6;
      color: $primary6;
      border-color: var(--qui-primary6);
      color: var(--qui-primary6);
      z-index: 2;
      background-color: $buttonNormalHoverColor;
      background-color: var(--buttonNormalHoverColor);
    }

    &:focus {
      border-color: $primary6;
      color: $primary6;
      border-color: var(--qui-primary6);
      color: var(--qui-primary6);
      z-index: 2;
    }

    &:active {
      border-color: $primary8;
      color: $primary8;
      border-color: var(--qui-primary8);
      color: var(--qui-primary8);
      z-index: 2;
    }
  }

  &__text {
    border: none;
    padding: 0 16px;
    line-height: 32px;
    background-color: transparent;
    color: $button-normal-color;
    color: var(--qui-button-normal-color);

    &:hover {
      color: $primary6;
      color: var(--qui-primary6);
    }

    &:focus {
      color: $primary6;
      color: var(--qui-primary6);
    }

    &:active {
      color: $primary8;
      color: var(--qui-primary8);
      z-index: 2;
    }
  }

  // size
  &__large {
    min-width: 76px;
    height: 36px;
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 2px;
  }

  &__medium {
    min-width: 66px;
    height: 32px;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 2px;
  }

  &__small {
    min-width: 56px;
    height: 28px;
    padding: 5px 16px;
    font-size: 12px;
    border-radius: 0px;
  }

  &__mini {
    min-width: 48px;
    height: 24px;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 0px;
  }

  &__icon {
    margin-right: 8px;
    vertical-align: middle;

    &-single {
      margin: 0;
      vertical-align: unset;
    }
  }

  // disabled styles
  &__disabled {
    cursor: not-allowed;

    &-color {
      background-color: $button-disabled-bg;
      background-color: var(--qui-button-disabled-bg);
      color: $button-disabled-color;
      color: var(--qui-button-disabled-color);

      &:hover {
        background-color: $button-disabled-bg;
        background-color: var(--qui-button-disabled-bg);
        color: $button-disabled-color;
        color: var(--qui-button-disabled-color);
        opacity: 1;
      }
    }

    &-hollow {
      border-color: $button-disabled-hollow-border;
      border-color: var(--qui-button-disabled-hollow-border);
      background-color: $button-disabled-hollow-bg;
      background-color: var(--qui-button-disabled-hollow-bg);
      color: $button-disabled-hollow-color;
      color: var(--qui-button-disabled-hollow-color);

      &:hover {
        border-color: $button-disabled-hollow-border;
        border-color: var(--qui-button-disabled-hollow-border);
        background-color: $button-disabled-hollow-bg;
        background-color: var(--qui-button-disabled-hollow-bg);
        color: $button-disabled-hollow-color;
        color: var(--qui-button-disabled-hollow-color);
      }
    }

    &-text {
      color: #8a8b8c;

      &:hover {
        color: #8a8b8c;
      }
    }
  }

  // loading styles
  &__loading {
    opacity: 0.8;
    cursor: not-allowed;
    pointer-events: none;

    &__icon {
      display: inline-block;
      border: 1px solid $button-loading-hollow;
      border: 1px solid var(--qui-button-loading-hollow);
      vertical-align: middle;
      margin-right: 8px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      z-index: 100;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      animation: spin 1s infinite linear;

      &-single {
        margin: 0;
      }

      &-color {
        border-right-color: $button-loading;
        border-right-color: var(--qui-button-loading);
      }
    }

    &-text {
      margin-right: 4px;
      vertical-align: bottom;
    }

    &-dotting {
      display: inline-block;
      vertical-align: bottom;
      margin-left: -4px;
      margin-right: 7px;
      min-width: 2px;
      min-height: 2px;
      box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;
      animation: dot 3s infinite step-start both;

      &:before {
        content: '...';
      }
      &::before {
        content: '';
      }
    }
  }

  // wave animation
  &__wave {
    &-normal {
      --waveColor: $primary4;
      --waveColor: var(--qui-primary4);
      animation: $wave-animate;
    }

    &-success {
      --waveColor: color($success a(40%));
      animation: $wave-animate;
    }

    &-warning {
      --waveColor: color($warning a(40%));
      animation: $wave-animate;
    }

    &-primary {
      --waveColor: $primary4;
      --waveColor: var(--qui-primary4);
      animation: $wave-animate;
    }

    &-danger {
      --waveColor: color($error a(40%));
      animation: $wave-animate;
    }

    &-dashed {
      --waveColor: $primary4;
      --waveColor: var(--qui-primary4);
      animation: $wave-animate;
    }

    &-cus {
      animation: $wave-animate;
    }
  }
}

.$(prefix)-buttonGroup {
  & > button {
    position: relative;
    margin-right: 1px;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-gap {
    &:not(:first-child):not(:last-child) {
      margin-left: -2px;
    }

    &:last-child {
      margin-left: -2px;
    }
  }
}
